<h2>Digital Collections</h2>
<% if @collections %>
  <ul>
    <% @collections.each do |collection| -%>
      <li><%= link_to collection.title, sets_path(collection.pid.split(':').last) %></li>
    <% end -%>
  </ul>
<% end %>


<h2>Other Resources</h2>
<ul>
  <li><a href="http://scarc.library.oregonstate.edu/omeka/exhibits/show/atomic">Atomic Energy &amp; Nuclear History Learning Curriculum</a></li>
  <li><a href="https://scholarsbank.uoregon.edu/xmlui/handle/1794/1129">Dissociation: Progress in the Dissociative Disorders</a></li>
  <li><a href="http://e-asia.uoregon.edu/">e-Asia Digital Library</a></li>
  <li><a href="http://journals.oregondigital.org/ForestPhytophthora">Forest Phytophthoras</a></li>
  <li><a href="http://oregonnews.uoregon.edu/">Historic Oregon Newspapers</a></li>
  <li><a href="http://journals.oregondigital.org/hsda">Humanist Studies &amp; the Digital Age</a></li>
  <li><a href="http://journals.oregondigital.org/trforum">Journal of the Transportation Research Forum</a></li>
  <li><a href="http://journals.oregondigital.org/konturen">Konturen</a></li>
  <li><a href="http://scarc.library.oregonstate.edu/coll/pauling/awards/">Linus Pauling: Awards, Honors, and Medals</a></li>
  <li><a href="http://scarc.library.oregonstate.edu/coll/pauling/calendar/">Linus Pauling: Day-by-Day</a></li>
  <li><a href="http://scarc.library.oregonstate.edu/coll/pauling/blood/">Linus Pauling: It's in the Blood! A Documentary History of Linus Pauling, Hemoglobin and Sickle Cell Anemia</a></li>
  <li><a href="http://scarc.library.oregonstate.edu/coll/pauling/bond/">Linus Pauling: Nature of the Chemical Bond: A Documentary History</a></li>
  <li><a href="http://scarc.library.oregonstate.edu/coll/pauling/peace/">Linus Pauling: International Peace Movement</a></li>
  <li><a href="http://scarc.library.oregonstate.edu/coll/pauling/dna/index.html">Linus Pauling: The Race for DNA</a></li>
  <li><a href="http://scarc.library.oregonstate.edu/coll/pauling/war/">Linus Pauling: Scientific War Work</a></li>
  <li><a href="https://scholarsbank.uoregon.edu/xmlui/handle/1794/7549">Local &amp; Regional Documents Archive</a></li>
  <li><a href="http://journals.oregondigital.org/">Open Journals</a></li>
  <li><a href="http://www.oregonexplorer.info/">Oregon Explorer</a></li>
  <li><a href="http://ourj.uoregon.edu/ ">Oregon Undergraduate Research Journal</a></li>
  <li><a href="http://osulibrary.oregonstate.edu/digitalcollections/extensionoralhistory/index.html">OSU Extension Service Oral History Collection</a></li>
  <li><a href="https://scholarsbank.uoregon.edu/xmlui/handle/1794/506">Renascence Editions</a></li>
  <li><a href="https://scholarsbank.uoregon.edu/xmlui/">Scholars' Bank</a></li>
  <li><a href="http://scarc.library.oregonstate.edu/omeka/exhibits/show/seed">The Seed &amp; Nursery Catalogue in Europe &amp; the U.S., a Short History</a></li>
  <li><a href="https://scholarsbank.uoregon.edu/xmlui/handle/1794/151">UO University Archives</a></li>
  <li><a href="http://media.uoregon.edu/channel/">UO Channel</a></li>
  <li><a href="http://osulibrary.oregonstate.edu/digitalcollections/tfdd/">The Water Conflict and Cooperation Bibliography</a></li>
</ul>
