<!--
	<div class="region region-page-top">
	    <div id="uobanner-container-black">
	        <div id="uobanner" style="max-width: 100%;">
	            <div id="uobanner-logobox">
						<a href="http://www.uoregon.edu"><%= image_tag("sets/uo_logo.png", size: "216x35", alt: "University of Oregon") %></a>
	            </div>
	            <div id="uobanner-links">
	                <span class="uobanner-text-right">
	                    <a href="http://www.uoregon.edu" class="uobanner-uonav">UO Home</a>
	                    &nbsp;|&nbsp;
	                    <a href="http://www.uoregon.edu/azindex/" class="uobanner-uonav">Dept Index</a>
	                </span>
	            </div>
	        </div>
	    </div>
	</div>
    -->
	
	<div id="page-wrapper">
	    <div id="page">
	        <div id="header">
	            <div class="section clearfix">
	                <div id="libraries_pageheader" class="clear">
	
						<a id="logo" rel="home" title="Home" href="http://library.uoregon.edu"><%= image_tag("sets/uo_liblogo.png", size: "228x41", alt: "University of Oregon Library Home") %></a>
	                    <div id="navigation">
	                        <div class="section clearfix">
	                            <ul id="main-menu" class="links inline clearfix">
	                                <li class="">
	                                    <a href="http://library.uoregon.edu/general/services/libraryaccounts.html">My Library Accounts</a>
	                                </li>
	                                <li class="menu-2170">
	                                    <a title="" href="http://library.uoregon.edu/general/services/rooms.html">Rooms & Study Spaces</a>
	                                </li>
	                                <li class="menu-2171">
	                                    <a title="" href="http://library.uoregon.edu/general/about/campusmap.html">Maps </a>
	                                </li>
	                                <li class="menu-2172">
	                                    <a title="" href="http://library.uoregon.edu/general/about/index.html">About</a>
	                                </li>
	                                <li class="menu-2173 last">
	                                    <a title="" href="http://library.uoregon.edu/general/gethelp.html">Ask a Librarian</a>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div> <!-- /libraries pageheader-->
	            </div>
	        </div><!-- end header-->

