	    <div class="region region-footer">
	
	        <div id="block-block-1" class="block block-block first last odd">
	            <div class="content">
	                <div id="location">
	                	<p>1501 Kincaid Street, Eugene, OR 97403-1299 | T: (541) 346-3053 | F: (541) 346-3485</p>
	                </div>
	                <div id="footer_icons">
	                    <a href="http://www.facebook.com/uolibraries">
							<%= image_tag("uo_facebook.png", size: "30x31", alt: "University of Oregon Library Facebook Fan Page Link", style: "border: 0") %>
	                    </a>
	                    <a href="http://twitter.com/uoregonlibnews">
							<%= image_tag("uo_twitter.png", size: "30x31", alt: "University of Oregon Library Twitter Page Link", style: "border: 0") %>
	                    </a>
	                    <a href="http://library.uoregon.edu/news/rss.xml">
							<%= image_tag("uo_rss.png", size: "30x31", alt: "University of Oregon Library News and RSS Feed Link", style: "border: 0") %>
	                    </a>
	                    <a href="http://instagram.com/uoregonlibraries#">
							<%= image_tag("uo_instagram", size: "30x31", alt: "University of Oregon Library Instagram Link", style: "border: 0") %>
	                    </a>
	                </div>
	                <div id="links">
	                    <ul>
	                        <li><a href="http://library.uoregon.edu/general/tellus.html">Contact Us |</a></li>
	                        <li><a href="http://library.uoregon.edu/giving/index.html">Make a Gift |</a></li>
	                        <li><a href="http://library.uoregon.edu/mobile/index.html">Mobile Site</a> |</li>
	                        <li><a href="http://library.uoregon.edu/policies/patronprivacy.html">Privacy Policy</a></li>
	                    </ul>
	                </div>
	                <div class="clear">
	                </div>
	            </div>
	        </div>
	
	    </div><!-- /region-footer -->
	
	</div><!-- end pagewrapper -->

