<div class="footer container">
  <div class="row">
    <div class="span3 left">
    </div>
    <div class="span5 left">
      <ul>
        <li class="first"><a href="/about">About Oregon Digital</a></li>
        <li><a href="/copyright">Copyright</a></li>
        <li class="last"><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
    <div class="span4 right">
      <a href="http://osulibrary.oregonstate.edu">
        <%= image_tag("oregondigital/osulib_gray.svg", :alt => "Oregon State University Libraries", :onerror => image_path("oregondigital/osulib_white.png"), :class => "pull-left") %>
      </a>
      <a href="http://library.uoregon.edu">
        <%= image_tag("oregondigital/uolib_gray.svg", :alt => "University of Oregon Libraries", :onerror => image_path("oregondigital/uolib_white.png"), :class => "pull-right") %>
      </a>
    </div>
  </div>
</div>
