<% if form.raw_statements.any? %>
  <% group = "raw_statement" %>
  <div id="<%= group %>">
    <h3 class="header"><%= I18n.t("ingest_form.#{group}.group_header", :default => group.humanize.pluralize) %></h3>

    <% for statement in form.raw_statements %>
      <div class="ntriple"><%= statement.to_ntriples %></div>
    <% end %>
  </div>
<% end %>
