<% if form.unmapped_associations.any? %>
  <%# Unknown predicates are displayed, but not editable  %>
  <% group = "unmapped_association" %>
  <div id="<%= group %>">
    <h3 class="header"><%= I18n.t("ingest_form.#{group}.group_header", :default => group.humanize.pluralize) %></h3>

    <% for association in form.unmapped_associations %>
      <div class="row">
        <div class="span6"><%= association.type %></div>
        <div class="span5"><%= association.value %></div>
      </div>
    <% end %>
  </div>
<% end %>
