<h2>Digital Asset Ingestion</h2>

<p>Ingest from a template</p>
<form action="<%= new_ingest_path %>" method="get">
  <label for="template_id">Template:</label>
  <select name="template_id" id="template_id"><%= options_from_collection_for_select(@templates, 'id', 'name') %></select>

  <input type="submit" value="Go" />
</form>

<p>Or <%= link_to "start from scratch", new_ingest_path %></p>
