<%= content_for :page_title, 'About Oregon Digital' %>
<div id="content">
<div class="row-fluid">

  <div class="span2">
  </div>
  <div class="span8">

    <h2>About Oregon Digital</h2>

    <h3>The System</h3>

    <p>A unique collaboration between the University of Oregon Libraries and Oregon State University Libraries &amp; Press, Oregon Digital is a <a href="http://projecthydra.org/">Hydra Project</a>. All code has been made publicly available on <a href="https://github.com/">Github</a>:</p>
    <ul>
      <li><a href="https://github.com/OregonDigital/oregondigital">Oregon Digital application</a></li>
      <li><a href="https://github.com/OregonDigital/metadata-ingest-form">Metadata ingest forms</a></li>
      <li><a href="https://github.com/OregonDigital/cdm2bag">Data transformations from legacy system</a></li>
    </ul>

    <!-- ADD more
    ADD
    ADD more
    ADD
    -->

    <h3>Metadata</h3>

    <p>Oregon Digital operates under linked open data principles. Rather than prescribe a specific schema, we believe in description at the appropriate level with properties available in an open world context. Individual templates are created for easy entry for particular collections and groups of items.</p>

    <ul>
      <li><a href="https://docs.google.com/spreadsheets/d/1umwlp3wqJZjfLMig84IxX2S6qVZWjOdIbzTIxrcTg7o/edit?usp=sharing">Metadata Dictionary</a></li>
      <li><a href="http://opaquenamespace.org/">Locally Hosted Terms and URIs</a></li>
      <li><a href="http://oregondigital.org/copyright">Copyright Statements</a></li>
      <li><a href="https://github.com/OregonDigital/opaque_ns/wiki">Metadata Principles</a></li>
    </ul>

    <p>Metadata in Scholars' Bank utilizes <a href="http://dublincore.org/documents/dcmi-terms/">Qualified Dublin Core</a>, <a href="http://www.ndltd.org/standards/metadata/etd-ms-v1.1.html">NDLTD properties</a>, and <a href="http://schema.datacite.org/meta/kernel-3.1/index.html">DataCite properties</a>.</p>

    <h3>Terms of Use and Take-Down Policy</h3>

    <h4>Terms of Use</h4>

    <p>Access has been provided to digital objects that have met one of the following criteria:</p>

    <ul>
      <li>Item is in the public domain</li>
      <li>Rights are owned by Oregon State University or the University of Oregon</li>
      <li>Oregon State University Libraries &amp; Press or University of Oregon Libraries has permission to make the object accessible</li>
      <li>Access to the item has been provided for educational and research purposes as a legal fair use</li>
    </ul>

    <p>For objects where OSU/UO is not the copyright holder, It is the responsibility of the user to determine the copyright status and seek permission from the rights owner(s) where appropriate. Items in the public domain may be used freely and without restrictions. For items in which Oregon State University is the copyright holder, please contact the <a href="http://scarc.library.oregonstate.edu/index.html">Special Collections and Archives Research Center</a> for permission to use.</p>

    <p>Each object in Oregon Digital has a rights statement identifying how the object may be re-used beyond Oregon Digital. We also encourage <a href="http://fairuse.stanford.edu/overview/fair-use/">Fair Uses</a> of our materials whenever possible. If you can’t access an object to view its Rights statement, then it has been restricted to the UO, OSU, or both campuses. Please familiarize yourself with Oregon Digital’s <a href="http://oregondigital.org/copyright">rights statements</a>.</p>

    <h4>Take-Down Policy</h4>

    <p>Both Oregon State University Libraries &amp; Press and the University of Oregon Libraries strive to identify the copyright status and contact rights holders for items where permission has not been granted or an argument for <a href="http://fairuse.stanford.edu/overview/fair-use/">fair use</a> has not been determined. If you are a copyright holder and feel your rights have been violated through the provision of access, a request may be submitted to remove the item from Oregon Digital. The take-down policy also applies to digital objects that may contain personal data or culturally sensitive material.</p>

    <p>Please send requests to Michaela Willi Hooper (michaela.willihooper@oregonstate.edu) with the subject line: Take-Down Request. In the email, include the following:</p>

    <ul>
      <li>Title of the object</li>
      <li>Digital collection the object belongs to</li>
      <li>Item URL</li>
      <li>Reason for requesting removal</li>
      <li>Contact information</li>
    </ul>

    <!--Help Page-->

    <!--h3>Collection Growth</h3>
      Diary
      Social Media (Lesli?)-->

    <!-- Involve Margaret (, Jason?, Erin?) in the writing -->

  </div>
  <div class="span2">
  </div>
</div>

</div>
