<%= content_for :page_title, 'About Oregon Digital' %>
<div id="content" class="span12">

  <h2>About Oregon Digital</h2>

  <p>Come back soon for information on the Oregon Digital project.</p>

</div>
