<%= content_for :page_title, 'Copyright, Access and Use' %>
<div id="content">
<div class="row-fluid">

  <div class="span2">
  </div>
  <div class="span8">

  <h2>Copyright, Access, and Use</h2>

  <h3>Identifying Usage Rights</h3>
  <p>Each object in Oregon Digital has a <strong>Rights</strong> statement identifying its copyright status. A <strong>License</strong> may also be listed that allows additional uses. We encourage Fair Uses of our materials whenever possible.</p>

  <h3>Rights Statements</h3>
  <p>These standardized statements identify the copyright status of an object. More information is available at <a href="https://rightsstatements.org/en/">https://rightsstatements.org/en/</a></p>

  <h4>In Copyright</h4>
  <ul>
    <li><a name="InC" id="InC"></a>In Copyright: <code><a href="http://rightsstatements.org/vocab/InC/1.0/">http://rightsstatements.org/vocab/InC/1.0/</a></code></li>
    <li><a name="InC-EDU" id="InC-EDU"></a>In Copyright - Educational Use Permitted: <code><a href="http://rightsstatements.org/vocab/InC-EDU/1.0/">http://rightsstatements.org/vocab/InC-EDU/1.0/</a></code></li>
    <li><a name="InC-NC" id="InC-NC"></a>In Copyright - Non-Commercial Use Permitted: <code><a href="http://rightsstatements.org/vocab/InC-NC/1.0/">http://rightsstatements.org/vocab/InC-NC/1.0/</a></code></li>
    <li><a name="InC-RUU" id="InC-RUU"></a>In Copyright - Rights Holders(s) Unlocatable or Unidentifiable: <code><a href="http://rightsstatements.org/vocab/InC-RUU/1.0/">http://rightsstatements.org/vocab/InC-RUU/1.0/</a></code></li>
    <li><a name="InC-OW-EU" id="InC-OW-EU"></a>In Copyright - EU Orphan Work: <code><a href="http://rightsstatements.org/vocab/InC-OW-EU/1.0/">http://rightsstatements.org/vocab/InC-OW-EU/1.0/</a></code></li>
  </ul>

  <h4>No Copyright</h4>
  <ul>
    <li><a name="NoC-US" id="NoC-US"></a>No Copyright - United States: <code><a href="http://rightsstatements.org/vocab/NoC-US/1.0/">http://rightsstatements.org/vocab/NoC-US/1.0/</a></code></li>
    <li><a name="NoC-CR" id="NoC-CR"></a>No Copyright - Contractual Restrictions: <code><a href="http://rightsstatements.org/vocab/NoC-CR/1.0/">http://rightsstatements.org/vocab/NoC-CR/1.0/</a></code></li>
    <li><a name="NoC-NC" id="NoC-NC"></a>No Copyright - Non-Commercial Use Only: <code><a href="http://rightsstatements.org/vocab/NoC-NC/1.0/">http://rightsstatements.org/vocab/NoC-NC/1.0/</a></code></li>
    <li><a name="NoC-OKLR" id="NoC-OKLR"></a>No Copyright - Other Known Legal Restrictions: <code><a href="http://rightsstatements.org/vocab/NoC-OKLR/1.0/">http://rightsstatements.org/vocab/NoC-OKLR/1.0/</a></code></li>
  </ul>

  <h4>Other</h4>
  <ul>
    <li><a name="CNE" id="CNE"></a>Copyright Not Evaluated: <code><a href="http://rightsstatements.org/vocab/CNE/1.0/">http://rightsstatements.org/vocab/CNE/1.0/</a></code></li>
    <li><a name="UND" id="UND"></a>Copyright Undetermined: <code><a href="http://rightsstatements.org/vocab/UND/1.0/">http://rightsstatements.org/vocab/UND/1.0/</a></code></li>
    <li><a name="NKC" id="NKC"></a>No Known Copyright: <code><a href="http://rightsstatements.org/vocab/NKC/1.0/">http://rightsstatements.org/vocab/NKC/1.0/</a></code></li>
  </ul>

  <h3>Licenses</h3>
  <h4><a name="publicDomain" id="publicDomain"></a>Public Domain</h4>
  <p>Objects in the public domain do not have restrictions on usage. We request that you acknowledge the source of the object whenever possible. </p>
  <ul>
    <li><a name="PDM" id="PDM"></a>When an object's copyright has expired, it will list the Public Domain Mark: <code><a href="http://creativecommons.org/publicdomain/mark/1.0/">http://creativecommons.org/publicdomain/mark/1.0/</a></code></li>
    <li><a name="CC0" id="CC0"></a>When a rights holder has chosen to place their work in the public domain, it will list a Creative Commons CC0 Universal Public Domain license: <code><a href="http://creativecommons.org/publicdomain/zero/1.0/">http://creativecommons.org/publicdomain/zero/1.0/</a></code></li>
  </ul>
  <h4><a name="creativeCommons" id="creativeCommons"></a>Creative Commons Licenses</h4>
  <p>Creative Commons licenses provide limited uses as assigned by the rights holder. Refer to the <a href="http://creativecommons.org">Creative Commons website</a> for more information. Creative Commons licenses:</p>
  <ul>
    <li><a name="CC-BY" id="CC-BY"></a>Creative Commons - Attribution (BY): <code><a href="http://creativecommons.org/licenses/by/4.0/">http://creativecommons.org/licenses/by/4.0/</a></code></li>
    <li><a name="CC-BY-SA" id="CC-BY-SA"></a>Creative Commons - Attribution, ShareAlike (BY-SA): <code><a href="http://creativecommons.org/licenses/by-sa/4.0/">http://creativecommons.org/licenses/by-sa/4.0/</a></code></li>
    <li><a name="CC-BY-ND" id="CC-BY-ND"></a>Creative Commons - Attribution, No Derivatives (BY-ND): <code><a href="http://creativecommons.org/licenses/by-nd/4.0/">http://creativecommons.org/licenses/by-nd/4.0/</a></code></li>
    <li><a name="CC-BY-NC" id="CC-BY-NC"></a>Creative Commons - Attribution, Non-Commercial (BY-NC): <code><a href="http://creativecommons.org/licenses/by-nc/4.0/">http://creativecommons.org/licenses/by-nc/4.0/</a></code></li>
    <li><a name="CC-BY-NC-SA" id="CC-BY-NC-SA"></a>Creative Commons - Attribution, Non-Commercial, ShareAlike (BY-NC-SA): <code><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">http://creativecommons.org/licenses/by-nc-sa/4.0/</a></code></li>
    <li><a name="CC-BY-NC-ND" id="CC-BY-NC-ND"></a>Creative Commons - Attribution, Non-Commercial, No Derivatives (BY-NC-ND): <code><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">http://creativecommons.org/licenses/by-nc-nd/4.0/</a></code></li>
  </ul>

  <h3>Additional Usage Requests</h3>
  <p>Additional usages may be granted by contacting the copyright holder or repository for permissions. Please use the <a href="http://oregondigital.org/contact">contact form </a>to request additional permissions, or contact the Rightsholder directly if known.</p>

  <h3>Access Restrictions</h3>
  <p>Some objects have additional restrictions on access to only the hosting institution, usually due to purchased content and contractual restrictions. There may be additional usage restrictions on this content.</p>
  <p>Users must be on campus or connected to the campus network for access to these materials. For University of Oregon users, see the UO Libraries instructions for <a href="http://www.libweb.uoregon.edu/systems/proxy/">off-campus access</a>. For Oregon State University users, see the instructions for setting up <a href="https://is.oregonstate.edu/service/vpn">VPN access</a>.</p>

  </div>
  <div class="span2">
  </div>
</div>

</div>
