<%= content_for :page_title, 'Copyright, Access and Use' %>
<div id="content" class="span12">

  <h2>Copyright, Access, and Use</h2>

  <h3>Identifying  Usage Rights</h3>
  <p>Each object in Oregon Digital has a <strong>Rights</strong> statement identifying how the object may be re-used beyond Oregon Digital. We also encourage Fair Uses of our materials whenever possible. If you can't access an object to view its Rights statement, then it is restricted to one or both of the campuses (see <a href="#licensedAccess">licensed access</a> below).</p>

  <h3>Additional Usage Requests</h3>
  <p>Additional usages may be granted by contacting the copyright holder or repository for permissions. Please use the contact form to request additional permissions.</p>

  <h3>Rights Statements</h3>
  <h4><a name="publicDomain" id="publicDomain"></a>Public Domain</h4>
  <p>Objects in the public domain do not have restrictions on usage. We request that you acknowledge the source of the object whenever possible. </p>
  <ul>
    <li><a name="PDM" id="PDM"></a>When an object's copyright has expired, it will list the Public Domain Mark: <a href="http://creativecommons.org/publicdomain/mark/1.0/">http://creativecommons.org/publicdomain/mark/1.0/</a></li>
    <li><a name="CC0" id="CC0"></a>When a rights holder has chosen to place their work in the public domain, it will list a Creative Commons CC0 Universal Public Domain license: <a href="http://creativecommons.org/publicdomain/zero/1.0/">http://creativecommons.org/publicdomain/zero/1.0/</a></li>
  </ul>
  <h4><a name="creativeCommons" id="creativeCommons"></a>Creative Commons Licenses</h4>
  <p>Creative Commons licenses provide limited uses as assigned by the rights holder. Refer to the <a href="http://creativecommons.org">Creative Commons website</a> for more information. Creative Commons licenses:</p>
  <ul>
    <li><a name="CC-BY" id="CC-BY"></a>Creative Commons - Attribution (BY): <a href="http://creativecommons.org/licenses/by/4.0/">http://creativecommons.org/licenses/by/4.0/</a></li>
    <li><a name="CC-BY-SA" id="CC-BY-SA"></a>Creative Commons - Attribution, ShareAlike (BY-SA): <a href="http://creativecommons.org/licenses/by-sa/4.0/">http://creativecommons.org/licenses/by-sa/4.0/</a></li>
    <li><a name="CC-BY-ND" id="CC-BY-ND"></a>Creative Commons - Attribution, No Derivatives (BY-ND): <a href="http://creativecommons.org/licenses/by-nd/4.0/">http://creativecommons.org/licenses/by-nd/4.0/</a></li>
    <li><a name="CC-BY-NC" id="CC-BY-NC"></a>Creative Commons - Attribution, Non-Commercial (BY-NC): <a href="http://creativecommons.org/licenses/by-nc/4.0/">http://creativecommons.org/licenses/by-nc/4.0/</a></li>
    <li><a name="CC-BY-NC-SA" id="CC-BY-NC-SA"></a>Creative Commons - Attribution, Non-Commercial, ShareAlike (BY-NC-SA): <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">http://creativecommons.org/licenses/by-nc-sa/4.0/</a></li>
    <li><a name="CC-BY-NC-ND" id="CC-BY-NC-ND"></a>Creative Commons - Attribution, Non-Commercial, No Derivatives (BY-NC-ND): <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">http://creativecommons.org/licenses/by-nc-nd/4.0/</a></li>
  </ul>
  <h4><a name="educational" id="educational"></a>Educational Use Only </h4>
  <p>Educational use is permitted without permission. Permission is required for additional uses.  </p>
  <h4><a name="freeAccess" id="freeAccess"></a>Free Access - No Re-use</h4>
  <p>This rights statement is applicable when users have free,  direct and full access to the digital object, but the rightsholder has retained all copyright. Permission is required for further uses. (<a href="http://www.europeana.eu/rights/rr-f/">http://www.europeana.eu/rights/rr-f/</a>)</p>
  <h4><a name="licensedAccess" id="licensedAccess"></a>Licensed Access - No Re-use</h4>
  <p> This rights statement is applicable when one of the hosting institutions has paid for licensed access to a resource for their user community. </p>
  <p>This digital object is protected by copyright and/or related rights and is made available via a license to the contributing institution.  This digital object is only accessible to members of the contributing institution and is subject to the licensing conditions agreed upon by the rightsholder and the organization  giving access to it. </p>
  <p>Users must be  on  campus or connected to the network for access to these materials. See the UO Libraries instructions for <a href="http://www.libweb.uoregon.edu/systems/proxy/">off-campus access</a>.</p>
  <h4><a name="orphanWorks" id="orphanWorks"></a>Orphan Works</h4>
  <p>The Orphan works statement can be applied to objects that have been  identified as orphan works in the country of first publication and in  line with the requirements of the country. Orphan works legislation in the United States is in <a href="http://www.copyright.gov/orphan/">discussion</a>. When an object has an orphan works statement, a good faith effort has been applied to try to identify the copyright holder and seek permission. </p>
  <h4><a name="unknown" id="unknown"></a>Unknown</h4>
  <p>
    The Unknown rights statement can be applied to objects for which the
    contributing institution does not have conclusive information pertaining to
    the rights status of the digital object.
  </p>
</div>
