<ul class="nav nav-list">
  <% if can?(:update, decorated_object) %>
    <li class="nav-header">Admin</li>
    <li>
      <a href="<%= edit_ingest_path(decorated_object) %>">
        <span>Edit</span>
        <span class="sr-only"><%= decorated_object.title %></span>
      </a>
    </li>
    <% if can?(:destroy, decorated_object) %>
    <li>
    <%= link_to(generic_asset_path, :method => :delete) do %>
        <span>Delete</span>
        <span class="sr-only"><%= decorated_object.title %></span>
      <% end %>
    </li>
    <% end %>
  <% end %>
</ul>
