</div>
<div class="well" id="contents">

<ul class="nav nav-list">
    <li class="nav-header">Contents</li>
      <% decorated_object.compound_list.each do |item| %>
        <li><%= link_to_unless item.pid == decorated_object.pid, item.title, catalog_path(item.pid) %></li>
      <% end %>
    </li>
</ul>

