<div class="row">
<div class="span5 welcome">
  <img src="/assets/oregondigital/logo-lg.png" alt="OSU Libraries Rotunda" />
  <div class="collections-link"><a href="#">Collections List</a><br />
  View a list of Digital Collections with short descriptions.</div>
  <p>The OSU and UO Libraries' Digital Collections are created
  to support the teaching and research mission of the
  Oregon University System. The collections are composed
  of unique digitized and born digital materials including
  photographs, journal articles, sheet music, manuscripts,
  ephemera, and more. The collections are managed by <a href="http://digitalscholarship.uoregon.edu/">UO
  Digital Scholarship Center</a> and <a href="http://cdss.library.oregonstate.edu">OSU Libraries Center for
  Digital Scholarship and Services.</a></p>
</div>
<div class="span3 imagecolumn">
  <img src="/assets/oregondigital/children.jpg" alt="Children with Flowers" />
  <img src="/assets/oregondigital/jellyfish.jpg" alt="Jellyfish" />
  <img src="/assets/oregondigital/rotunda.jpg" alt="OSU Libraries Rotunda" />
  </div>
</div>


