/* Accessibility tweaks to built-in variables to avoid crazy CSS overrides */
$linkColor:             darken(#08c, 20%);
$linkColorHover:        darken($linkColor, 15%);
$warningText:           darken(#c09853, 20%);
$successText:           darken(#468847, 20%);
$errorText:             darken(#b94a48, 20%);
$infoText:              darken(#3a87ad, 20%);

@import 'bootstrap';
@import 'bootstrap-responsive';

@import 'blacklight/blacklight';
