// Place all the styles related to the Ingest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tt-dropdown-menu {
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
}

.tt-suggestion+.tt-suggestion {
  margin-top: 8px;
}

.suggestion-label {
  font-weight: bold;
}

.suggestion-uri {
  font-size: small;
  padding-left: 16px;
  color: rgb(64, 32, 32);
}
