/**
 * Styles for the ingest form (which includes the template editor since it's
 * just using a slightly modified version of the same HTML elements)
 */

.tt-dropdown-menu {
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
}

.tt-suggestion+.tt-suggestion {
  margin-top: 8px;
}

.tt-suggestion.tt-is-under-cursor {
  background-color: #EFE;
}

.suggestion-label {
  font-weight: bold;
}

.suggestion-uri {
  font-size: small;
  padding-left: 16px;
  color: rgb(64, 32, 32);
}

#ingest-form-container {
  .header {
    font-size: 14px;
    line-height: 20px;
  }

  .ingest-control {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
  }

  .add-link-wrapper {
    margin-left: 20px;
  }

  .template-name-wrapper {
    input {
      margin-left: 20px;
      display: block;
    }
  }
}

.ntriple {
  padding-left: 20px;
  font-family: monospace;
}
