.sets.University_of_Oregon {
  $background: #F1ECE3;
  $accent-bg: #F5DBB2;
  $highlight-bg: #1FA1BF;

  $color: #008000;
  $highlight-color: #ffffff;

  body {
    font-family: "Gudea","Arial","Verdana",sans-serif;
  }

  #facets h4, #sidebar-nav .nav-header {
    background-color: #144651;
    color: #FFFFFF;
  }

  #facets h5.twiddle-open {
    background-color: #5D87A1;
  }

  #main-wrapper {
    position: relative;
  }

  #navigation {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0px;
    margin-right: -100%;
    padding: 0px;
    height: 3em;
  }

  #navigation ul.links, #navigation .content ul {
    margin: 0px;
    padding: 10px 0px 0px;
    text-align: left;
  }

  #navigation ul.links li, #navigation .content li {
    float: left;
    padding: 0px 20px 0px 0px;
  }

  ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0px 0.5em;
  }

  @media (min-width: 768px) {
    #osu-top-hat .tag {
      background-color: #004F27;
      padding: 15px;
    }
  }
}
