
body.University_of_Oregon {background-color:#9cae87;}

body.University_of_Oregon {
    margin:0; padding:0;
    color: rgb(46, 46, 46);
    background-image: image-url('sets/uo_bg_image_pan1.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    font-family: tahoma,arial,helvetica,sans-serif;
}


.University_of_Oregon {

/*
http://library.uoregon.edu/sites/all/themes/library_v2/images/bg_image_pan1.jpg
*/


.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{height:1%;}
.clearfix{min-height:1%;}
.clear { clear: both; }


#header a:link, #header a:visited, #header a:hover, #header a, .region-footer a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

#page-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#page {
    box-shadow: 0px 0px 8px rgb(204, 204, 204);
    font-size: 0.875em;
    line-height: 1.5em;
}

#main-wrapper {
    position: relative;
    background:#fff
}





#header {
    background: image-url('sets/uo_bg_header_wave.jpg') no-repeat scroll 0% 0% transparent;
    height: 100px;
    padding: 10px 15px 0px;
}

#logo {
    float: left;
    margin: 0px;
    padding: 0px;
}

#navigation {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0px;
    margin-right: -100%;
    padding: 0px;
    height: 3em;
}

#navigation ul.links, #navigation .content ul {
    margin: 0px;
    padding: 10px 0px 0px;
    text-align: left;
}

#navigation ul.links li, #navigation .content li {
    float: left;
    padding: 0px 20px 0px 0px;
}

ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0px 0.5em;
}






.region-footer {
    background-color: rgb(248, 247, 247);
    background-image: image-url('sets/uo_bg_footer.jpg');
    background-repeat: no-repeat;
    height: 92px;
    padding: 20px 20px 0px;
}

.region-footer #location {
    color: rgb(255, 255, 255);
}

div#location {
    float: left;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

div#location p {
    margin: 0px;
    padding: 0px;
}

div#links {
    float: right;
    list-style: none outside none;
    margin: 0px;
    padding: 0px 0px 5px;
}

.region-footer #links {
    float: left;
    clear: left;
    color: rgb(156, 174, 135);
}

div#links {
    float: right;
    list-style: none outside none;
    margin: 0px;
    padding: 0px 0px 5px;
}

.region-footer #links, .region-footer #links a {
    color: rgb(156, 174, 135);
}

div#links ul li {
    display: inline;
    white-space: nowrap;
}

div#links ul {
    margin: 0px;
    padding: 3px 15px 0px 0px;
    font-size: 11px;
}

div#links ul {
    font-size: 11px;
}

div#footer_icons {
    float: right;
    padding: 0px;
}

.block {
    margin-bottom: 1.5em;
}






#uobanner-container-black {
    background-color: rgb(0, 0, 0);
    background-image: image-url('sets/uo_banner_black.png');
    background-repeat: repeat-x;
}

#uobanner {
    display: block;
    height: 41px;
    padding: 0px;
    position: relative;
}

#uobanner-logobox {
    float: left;
    height: 38px;
    margin: 0px auto;
    padding: 3px 0px 0px 5px;
    width: 216px;
}

#uobanner-links {
    display: block;
    color: rgb(233, 230, 214);
    position: absolute;
    right: 0px;
    margin: 0px 0px 5px 5px;
    padding: 6px 5px 4px 4px;
    text-align: right;
    width: 200px;
}

a.uobanner-uonav:link, a.uobanner-uonav:visited {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    line-height: 1em;
    text-decoration: none;
}

}
