.sets.Oregon_State_University {
  $background: #F1ECE3;
  $accent-bg: #F5DBB2;
  $highlight-bg: #1FA1BF;

  $color: #561F4B;
  $highlight-color: #ffffff;

  $font-stack: Gudea, Helvetica, Verdana, sans-serif;

  body {
    font-family: $font-stack;
  }

  #facets h4, #sidebar-nav .nav-header {
    background-color: #144651;
    color: #fff;
  }

  #facets h5.twiddle-open {
    background-color: #5D87A1;
  }
}