.Oregon_State_University {
  @font-face {
    font-family: "EksjaExtremesRegular";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/assets/Eksja-regular-webfont.woff") format("woff"), url("/assets/Eksja-regular-webfont.ttf") format("truetype"), url("/assets/Eksja-regular-webfont.svg#webfont") format("svg");
  }
  @font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fontawesome-webfont.woff") format("woff"), url("/assets/fontawesome-webfont.ttf") format("truetype"), url("/assets/ntawesome-webfont.svg#FontAwesome") format("svg");
  }
  html {
    background: none repeat scroll 0 0 #252525;
  }
  body, body.admins {
    background: url("/assets/oregondigital/bg-pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: "Gudea","Arial","Verdana",sans-serif;
  }
  body, p, h5 {
    font-size: 16px;
    line-height: 22px;
  }

  h1, h2, h3, h4 {
    color: #5C2651;
    font-family: 'EksjaExtremesRegular',Arial,Helvetica,Verdana,sans-serif;
    font-weight: normal;
  }
  h3, h4, h5, #sidebar-nav .nav-header {
    font-weight: normal;
  }
  h4, #sidebar-nav .nav-header {
    font-size: 18px;
    line-height: 30px;
  }
  a {
    color: #C34500;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  #osu-top-hat {
    background-color: #424242;
    background-image: linear-gradient(to bottom, #565656, #252525);
    background-repeat: repeat-x;
    border-bottom: 0 none;
    width: auto;
  }
  #osu-top-hat .container {
    padding-top: 1px;
  }
  #osu-top-hat .tag .mobile-header {
    margin-left: 5px;
    padding-top: 8px;
  }
  #osu-top-hat .nav-collapse {
    background: none repeat scroll 0 0 #565656;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 100;

    ul.menu {
      display: block;
      font-size: 1em;
      margin-top: 0 !important;
      margin-bottom: 3px !important;
      width: 100%;
      padding-left: 0;
      margin-left: 0;

      li.leaf {
        float: none;
        font-size: 1em;
        width: 100%;
        padding-left: 0;
        margin-left: 0;

        a {
          display: block;
          padding:10px;
          float: left;
          visibility: visible;
          width: 100%;
          border-bottom: 1px solid #676767;
          border-radius: 0;
          padding-left: 30px;
        }
        a:hover, a:active, a:focus {
          background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        }
      }
      li.last a {
        border-bottom: 0;
      }
    }
  }

  #osu-top-hat .btn-navbar {
    float: none;
    position: absolute;
    right: 0;
  }
  @media (min-width: 480px) {
    #osu-top-hat .tag {
      .logo {
        display: none;
      }
      .mobile-header {
        display: inline-block;
      }
    }
  }
  @media (min-width: 768px) {
    #osu-top-hat .tag {
      .logo {
        display: block;
      }
      .mobile-header {
        display: none;
      }
    }
    #osu-top-hat .nav-collapse {
      clear: none;
      height: auto;
      overflow: visible;
      width: auto;
      position: static;

      ul.menu {
        margin-top: 11px !important;
        width: auto;
        float: right;
        font-size: .8em;
        li.leaf {
          float: left;
          width: auto;
          margin-top: 0;
          a {
            width: auto;
            border-bottom: 0;
            padding: 5px 10px;
          }
        }
        li.last {
          border-left: 1px solid #ffffff;
          border-radius: 0;
          background: none;
          padding: 0;
          margin-left: 5px;
          padding-left: 8px;

          a {
            padding: 5px 10px;
          }
        }
      }
    }

    #osu-top-hat .btn-navbar {
      display: none;
      margin-top: 0;
    }
  }
  #common-header {
    background: none repeat scroll 0 0 #DAC582;
    padding-bottom: 7px;
  }
  #common-header h1 {
    display: none;
    line-height: 39px;
  }
  #common-header h1 a {
    color: #252525;
  }
  #common-header #searchbar {
    padding-left: 5px;
    padding-top: 8px;
  }
  #common-header #searchbar input.search_q {
    position: static;
    width: 110px;
  }
  #common-header #searchbar .icon-search {
    overflow: hidden;
    text-indent: 100%;
  }
  @media (min-width: 480px) {
    #common-header h1 {
      display: none;
    }
    #common-header #searchbar {
      margin-right: 5px;
      margin-top: -10px;
    }
    #common-header #searchbar input.search_q {
      width: 300px;
    }
  }
  @media (min-width: 768px) {
    #common-header {
      border-bottom: 3px solid #F1ECE3;
      padding-bottom: 16px;

      h1 {
        display: block;
      }
      #searchbar {
        float: right;
        margin-top: -42px;

        .icon-search {
          overflow: hidden;
          text-indent: 100%;
        }
        input.search_q {
          width: 200px;
        }
      }
    }
  }
  @media (min-width: 980px) {
    #common-header {
      border-bottom: 3px solid #F1ECE3;
      padding-bottom: 16px;

      #searchbar {
        float: right;
        margin-top: -42px;

        input.search_q {
          width: 300px;
        }
      }
    }
  }

  .btn {
    background-color: #5D87A1;
  }
  #main-container {
    margin-top: 0;
  }
  #main-container #content {
    padding-left: 12px;
  }
  @media (min-width: 768px) {
    #main-container {
      margin-top: 25px;
    }
    #main-container #content {
      padding-left: inherit;
    }
  }
  #facets, .sidenav .facet_limit:last-child > h5 {
    border-radius: 0;
  }
  #facets h4, #sidebar-nav .nav-header {
    background-color: #5C2651;
    color: #FFFFFF;
    font-family: 'EksjaExtremesRegular',Arial,Helvetica,Verdana,sans-serif;
    text-transform: none;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #sidebar-nav .nav-list .nav-header {
    text-shadow: none;
  }
  #facets h5 {
    font-weight: bold;
  }
  #facets h5.twiddle-open {
    background-color: #5D87A1;
  }
  #facets .btn-navbar {
    margin-top: 3px;
  }
  #sidebar .well {
    background-color: #FFFFFF;
    border-radius: 0;
    padding-top: 0;
  }
  .sidenav h5, .sidenav h4 {
    padding: 5px 14px;
  }
  #footer .footer {
    font-size: 14px;
  }
  #footer .contact a {
    text-decoration: underline;
  }
  #footer {
    background: -moz-linear-gradient(center top , #39393A 0%, #252525 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top-color: #F1ECE3;
    color: #FFFFFF;
    padding-left: 0;
    padding-right: 0;
  }
  #footer .span6 {
    padding: 8px;
  }
  #footer .left {
    padding-top: 0;
  }
  #footer .contact {
    text-align: right;
  }
  #footer a {
    color: #FFFFFF;
  }
  @media (min-width: 768px) {
    #footer .span6 {
      border-bottom: medium none;
      padding: inherit;
    }
  }
  #footer .footer li {
    border-right-color: #FFFFFF;
    padding: 0;
  }
  #footer .footer li a {
    border-radius: 10px;
    padding: 5px 12px;
  }
  #footer .footer li a:hover, #footer .footer li a:active, #footer .footer li a:focus {
    background: none repeat scroll 0 0 #565656;
  }
  .results #appliedParams {
    border-bottom-color: #DBD6D0;
    border-top-color: #DBD6D0;
  }
  .results .document {
    border-bottom-color: #DBD6D0;
  }
}