.sets.Oregon_State_University {
  $background: #F1ECE3;
  $accent-bg: #DAC582;
  $highlight-bg: #1FA1BF;

  $color: #561F4B;
  $highlight-color: #ffffff;

  @font-face {
    font-family: "EksjaExtremesRegular";
    font-style: normal;
    font-weight: normal;
    src: font-url("Eksja-regular-webfont.woff") format("woff"), font-url("Eksja-regular-webfont.ttf") format("truetype"), font-url("Eksja-regular-webfont.svg#webfont") format("svg");
  }

  body {
    font-family: "Gudea","Arial","Verdana",sans-serif;
  }


  h1, h1 a, h2, h3, h4 {
    color: $color;
    font-family: 'EksjaExtremesRegular',Arial,Helvetica,Verdana,sans-serif;
  }

  a {
    color: #C34500;
  }

  .btn {
    background-color: #5D87A1;
  }

  #facets h4, #sidebar-nav .nav-header {
    background-color: #5C2651;
    color: #FFFFFF;
    font-family: 'EksjaExtremesRegular',Arial,Helvetica,Verdana,sans-serif;

  }

  #facets h5.twiddle-open {
    background-color: #5D87A1;
  }
}
