@import "bootstrap/mixins";

html {
  background: none repeat scroll 0 0 #252525;
}
body.sets {
  padding: 0;
  background: url(image_path("oregondigital/bg-pattern.jpg")) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media (min-width:980px) {
  body.sets {
    padding-top: 7.5em;
  }
}
.sets {
  $background: #F1ECE3;
  $accent-bg: #DAC582;
  $highlight-bg: #1FA1BF;

  $color: #561F4B;
  $highlight-color: #ffffff;

  @font-face {
    font-family: "EksjaExtremesRegular";
    font-style: normal;
    font-weight: normal;
    src: font-url("Eksja-regular-webfont.woff") format("woff"), font-url("Eksja-regular-webfont.ttf") format("truetype"), font-url("Eksja-regular-webfont.svg#webfont") format("svg");
  }

    body, body.admins {

      padding:0;
    }

    body, p, h5 {
      font-size: 16px;
      line-height: 22px;
    }

    h1, h1 a, h2, h3, h4 {

      font-weight: normal;
      padding-left: 12px;
      display: block;
    }
    h1 {
      font-size: 26px;
      line-height: 32px;
      margin: 18px 0 10px;
    }
    h2 {
      font-size: 20px;
      line-height: 30px;

    }
    h3, h4, #sidebar-nav .nav-header {
      font-weight: normal;
    }
    h4, #sidebar-nav .nav-header {
      font-size: 18px;
      line-height: 30px;
    }
    h5 {
      font-weight: bold;
    }
    a {
      color: #1FA1BF;
    }
    .navbar-fixed-top {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    #osu-top-hat {
      background-color: #424242;
      background-image: linear-gradient(to bottom, #565656, #252525);
      background-repeat: repeat-x;
      border-bottom: 0 none;
      width: auto;
      height: 40px;
      a {
        color: #fff;
      }
    }
    #osu-top-hat .container {
      padding-top: 1px;
    }
    #osu-top-hat .tag {
      margin-right: 2.5em;
      .logo {
        display: none;
      }
    }
    #osu-top-hat .tag .mobile-header {
      display: block;
      margin-left: 5px;
      padding-top: 8px;
      font-weight: bold;
      font-family: 'Gudea',Arial,Helvetica,Verdana,sans-serif;
    }
    #osu-top-hat .nav-collapse {
      background: none repeat scroll 0 0 #565656;
      position: absolute;
      top: 40px;
      width: 100%;
      z-index: 100;

      ul.menu {
        display: block;
        font-size: 1em;
        margin-top: 0 !important;
        margin-bottom: 3px !important;
        width: 100%;
        padding-left: 0;
        margin-left: 0;

        li.leaf {
          float: none;
          font-size: 1em;
          width: 100%;
          padding-left: 0;
          margin-left: 0;

          a {
            display: block;
            padding:10px;
            float: left;
            visibility: visible;
            width: 100%;
            border-bottom: 1px solid #676767;
            border-radius: 0;
            padding-left: 30px;
          }
          a:hover, a:active, a:focus {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
          }
        }
        li.last a {
          border-bottom: 0;
        }
      }

    }

    #osu-top-hat .btn-navbar {
      float: none;
      position: absolute;
      right: 0;
    }
    @media (min-width: 480px) {
      #osu-top-hat .tag {
        .mobile-header {
          display: inline-block;
        }
      }
    }
    @media (min-width: 768px) {
      #osu-top-hat .tag {
        float: left;
        .logo {
          display: block;
        }
        .mobile-header {
          display: none;
        }
      }
      #osu-top-hat {
        height: 55px;

        .nav-collapse {
          clear: none;
          height: auto;
          overflow: visible;
          width: auto;
          position: static;

          ul.menu {
            margin-top: 11px !important;
            width: auto;
            float: right;
            font-size: .8em;
            list-style: none;
            li.leaf {
              float: left;
              width: auto;
              margin-top: 0;
              list-style-type: none;
              a {
                width: auto;
                border-bottom: 0;
                padding: 5px 10px;
              }
            }
            li.last {
              border-left: 1px solid #ffffff;
              border-radius: 0;
              background: none;
              padding: 0;
              margin-left: 5px;
              padding-left: 8px;

              a {
                padding: 5px 10px;
              }
            }
          }

        }
      }

      #osu-top-hat .btn-navbar {
        display: none;
        margin-top: 0;
      }
    }
    #common-header {
      background: none repeat scroll 0 0 #DAC582;
      padding-bottom: 7px;
    }
    #common-header h1 {
      display: none;
      line-height: 39px;
      display: block;
      padding:   0;
      margin: 0;
      line-height: 44px;
      font-size: 30px;
      text-indent: -100%;
      a img {
        display: block;
        height: 55px;
        margin-top: 6px;
      }
      .site-logo {
        display: none;
      }

      .site-header {
        display: none;
      }
    }
    #common-header h1 a {
      color: #252525;
    }
    #common-header #searchbar {
      padding-left: 5px;
      padding-top: 8px;

      .styled-select  {
        display: block;

        #search_field {
          display: block;
        }
      }
    }
    #common-header #searchbar input.search_q {
      position: static;
      width: 110px;
    }
    #common-header #searchbar .icon-search {
      overflow: hidden;
      text-indent: 100%;
    }

      #common-header #searchbar {
        margin-right: 5px;

      }
      #common-header #searchbar input.search_q {
        width: 150px;
      }
    @media (min-width: 480px) {
      #common-header #searchbar input.search_q {
        width: 300px;
      }
    }

    @media (min-width: 768px) {
      #common-header {
        border-bottom: 3px solid #F1ECE3;

        h1 .site-logo {
          display: block;
        }

        #searchbar {
          float: right;
          margin-top: -44px;

          .icon-search {
            overflow: hidden;
            text-indent: 100%;
          }
          input.search_q {
            width: 200px;
          }
        }
      }
    }
    @media (min-width: 980px) {
      #common-header {
        #searchbar {
          input.search_q {
            width: 300px;
          }
        }
      }
    }


    #main-container {
      margin-top: 0;
    }
    #main-container #content {
      padding-left: 12px;
    }
    #sidebar #pages {
      list-style: none;
      li {
        list-style-image: none;
        line-height: 30px;
      }
    }
    @media (min-width: 768px) {
      #main-container {
        margin-top: 25px;
      }
      #main-container #content {
        padding-left: inherit;
      }
    }
    #facets, .sidenav .facet_limit:last-child > h5 {
      border-radius: 0;
    }
    #facets h4, #sidebar-nav .nav-header {
      text-transform: none;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    #sidebar-nav .nav-list .nav-header {
      text-shadow: none;
    }
    #facets h5 {
      font-weight: bold;
    }

    #facets .btn-navbar {
      margin-top: 3px;
    }
    #sidebar .well {
      background-color: #FFFFFF;
      border-radius: 0;
      padding-top: 0;
    }
    .sidenav h5, .sidenav h4 {
      padding: 5px 14px;
    }
    #footer .footer {
      font-size: 14px;
    }
    #footer .contact  {
      a {
        text-decoration: underline;
      }
      .footer-icons a {
        text-decoration: none;
      }
    }

    #footer {
      @include gradient-vertical(#39393A, #252525);
      border-top-color: #F1ECE3;
      color: #FFFFFF;
      padding: 5px 0;
    }
    #footer .span6 {
      padding: 8px;
    }
    #footer .left {
      padding-top: 0;
    }
    #footer .contact {
      text-align: right;
    }
    #footer a {
      color: #FFFFFF;
    }
    @media (min-width: 768px) {
      #footer .span6 {
        border-bottom: medium none;
        padding: inherit;
      }
    }
    #footer .footer li {
      border-right-color: #FFFFFF;
      padding: 0;
    }
    #footer .footer li a {
      border-radius: 10px;
      padding: 5px 12px;
    }

    .leaf a:hover, .leaf a:active, .leaf a:focus, #footer .footer li a:hover, #footer .footer li a:active, #footer .footer li a:focus {
      background: none repeat scroll 0 0 #565656;
    }
    .results #appliedParams {
      border-bottom-color: #DBD6D0;
      border-top-color: #DBD6D0;
    }
    .results .document {
      border-bottom-color: #DBD6D0;
    }
}
