$background: #F1ECE3;
$accent-bg: #F5DBB2;
$highlight-bg: #1FA1BF;

$color: #144651;
$highlight-color: #ffffff;
$linkColor: #0f959a;//#1C88A4;
$linkColorHover: lighten($linkColor, 10%);

$font-stack: Gudea, Helvetica, Verdana, sans-serif;

body {
  font: 100% $font-stack;
  background-color: $background;
  color: #000000;
  padding-top: 0;
}

/* font */
h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: $color;
}

@media (min-width: 980px) {
  body {
    padding-top: 8.5em;
  }
  body.admin {
    padding-top: 9.5em;
  }
}

p {
  line-height: 20px;
}

//Oregon Digital header

#header-navbar-fixed-top, .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none;
  background: none no-repeat $accent-bg;
  min-width: inherit;

  .navbar-inner {
    padding: 0;
    min-height: 0;

    .black {
      background: #000000;
      margin-bottom: 5px;

      img {
        height: 30px;
        width: auto;
      }
    }
    .btn-navbar {
      margin-top: 0;
    }
    @media (min-width: 481px) {
      .black img {
        height: 45px;
      }
    }
    @media (min-width: 769px) {
      .btn-navbar {
        margin-top: 5px;
      }
    }
    @media (min-width: 980px) {
      .black {
        margin-bottom: 10px;
      }

    }

    .span3, .span9, .span5, .span9 .span5, .span9 .span3 {
      display: inline-block;
      vertical-align: middle !important;
      float: none;
      /* width: auto;   */
    }
    .span3 {
      width: 60px;
      margin-bottom: 5px;
    }
    .span9 {
      width: 200px;
    }
    .span5 {
      width: 130px;
      margin-bottom: 6px;
    }
    .span3.nav-collapse {
      float: left;
      margin-bottom: 0;
      -moz-box-shadow: -15px 7px 15px -15px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: -15px 7px 15px -15px rgba(0, 0, 0, 0.8);
      box-shadow: -15px 7px 15px -15px rgba(0, 0, 0, 0.8);
      width: 100%;

      .utils {
        border-left: none;
        display: block;
        padding-left: 60px;
        width: 100%;
        border-top: 1px solid #EBDAA7;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;

        .util-links-login, .util-links-other {
          font-size: inherit;
          .bookmarks, .saved-searches {
            display: inline-block;
          }
        }

        .util-links-login a, .util-links-auth .admin a {
          display: inline-block;
        }

        a {
          padding-bottom: 6px;
          padding-top: 6px;
          color: $color;
          display: block;
          line-height: 22px;
        }
      }

    }
    @media (min-width: 980px) {
      .span3.nav-collapse {
        width: auto;
        float: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;

        .utils {
          border-left: 1px solid $color;
          border-top: none;
          width: auto;
          padding: 2px 0 2px 20px;
          a {
            padding-bottom: 0;
            padding-top: 0;
          }
        }

      }
    }

    @media (min-width: 480px) {
      .span3 {
        width: 70px;
      }
      .span9 {
        width: 370px;
        margin-left: 20px;
      }
      .span5 {
        width: 130px;
      }
      span3.nav-collapse {
        margin-bottom: 0;
      }
    }

    @media (min-width: 769px) {
      .span3 {
        width: 172px;
      }

      .span5 {
        width: 390px;
        margin-bottom: 10px;
      }
      span3.nav-collapse {
        margin-bottom: 0;
      }
    }
    @media (min-width: 980px) {
      .span3 {
        width: 220px;
        margin-bottom: 0;
      }

      .span5 {
        margin-left: 30px;
        width: 390px;
      }
      .span3.nav-collapse {
        margin-bottom: 10px;
        float: none;
      }
    }
    @media (min-width: 1200px) {
      .span3 {
        width: 270px;
      }
      .span9 {
        width: 860px;
      }
      .span5 {
        width: 463px;

      }
    }
  }

  .brand {
    background: url(image_path("oregondigital/logo.png")) no-repeat scroll left top / 100% transparent;
    padding: 0;
    text-indent: 100%;
/*    overflow: hidden;*/
    height: 24px;
    width: 60px;
    margin-right: 0;
    float: right;
  }

  @media (min-width: 769px) {
    .brand {
      height: 46px;
      width: 116px;
      margin-bottom: 0;
    }
  }
  @media (min-width: 980px) {
    .brand {
      height: 69px;
      width: 172px;
      float: right;
      margin-bottom: 10px;
    }
  }

  #searchbar {
    padding-top: 0;

    form {
      width: 160px;
      display: inline-block;
      white-space: nowrap;
      margin-bottom: 0;
      line-height: 12px;

      .styled-select {

        display: none;

        #search_field {

          display: none;
        }

      }
    }
    @media (min-width: 400px) {
      form {
        margin-right: 0;
        width: 300px;
        .styled-select {

          width: 90px;
          height: 28px;
          overflow: hidden;
          background: url(image_path("oregondigital/selectarrow.png")) no-repeat right #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-right: 5px;
          display: block;

          #search_field {

            width: 112px;
            height: 28px;
            background: transparent;
            -webkit-appearance: none;
            line-height: 1;
            border: 0;
            border-radius: 0;
            display: block;
          }

        }
      }
    }
    @media (min-width: 770px) {
      form {
        margin-right: 0;
        width: 320px;
      }
    }
    @media (min-width: 979px) {
      form {
        margin-right: 0;
        width: 320px;
      }
    }



    .input-wrapper {
      width: 110px;

      input.search_q {
        width: 95px;
      }
    }
    @media (min-width: 481px) {
      .input-wrapper {
        width: auto;

        input.search_q {
          width: 195px;

        }
      }
    }
    @media (min-width: 768px) {
      .input-wrapper input.search_q {
        width: 220px;
      }
    }
  }

  .btn {
    vertical-align: middle;
  }
}

/* main-container - and contents */

#main-container {
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  #main-container {
    .span9 {
      width: 535px;

      .span5 {
        width: 295px;
      }
      .span3 {
        width: 220px;
      }
    }
  }

  .nav-list > li {
    width: 120px;
  }
}

@media (min-width: 980px) {
  #main-container {
    .span9 {
      width: 700px;

      .span5 {
        width: 440px;
      }

      .span3 {
        width: 230px;
      }
    }
  }

  .nav-list > li {
    width: 180px;
  }
}

@media (min-width: 1200px) {
  #main-container {
    .span9 {
      width: 870px;

      .span5 {
        width: 470px;
      }

      .span3 {
        width: 270px;
      }
    }
  }

  .nav-list > li {
    width: 230px;
  }

}

/* facets */

#facets {
  background: #ffffff;
  color: $color;

  a {
    color: $color;
  }
  span.selected {
    color: #888888;
  }

  h4 {
    background: $accent-bg;
  }

  h5.twiddle-open {
    background: $highlight-bg;
    color: #ffffff;

    a {
      color: $highlight-color;
      outline: none;
    }

    a:hover {
      background: transparent;
    }
  }
  .facet_select, .count, span.selected {
    font-size: .85em;
  }
  ul {
    padding-bottom: 0;
  }
}
/* Sidenav */
ul.sidenav {
  list-style-type: none;
  padding: 8px 14px;
  border-radius: 0;
  margin-left: 0;
  background-color: white;

  li {
    list-style-image:none;
  }
}
/* footer */

.footer {
  font-size: .75em;
  line-height: 25px;

  .right {
    text-align: right;

    li.last {
      padding-right: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    margin: none;
    padding: 0 12px;
    border-right: 1px solid $color;
  }

  li.first {
    padding-left: 0;
  }
  li.last {
    border: none
  }

  a {
    color: $color;
  }

}

/* home  */

.welcome, .imagecolumn {

  .collections-link {
    border-top: 1px solid $accent-bg;
    border-bottom: 1px solid $accent-bg;
    padding: 1em;
  }

  & > * {
    margin-bottom: 1em;
  }
}

/* search results */

.results {
  background: #fff;
  border-top: 1px solid $accent-bg;

  .well, .constraints-container, #sortAndPerPage {
    border: none;
    box-shadow: none;
    background: none;

  }
  #appliedParams, #sortAndPerPage {
    border-radius: 0;
  }
  #appliedParams {
    background: #F5F5F5;
    border-bottom: 1px solid #E3E3E3;
  }
  #sortAndPerPage {
    padding: 5px 25px;

    .page_links, #per_page-dropdown, #sort-dropdown {
      margin-top: 10px;
    }

  }

  #documents {
    padding-left: 25px;
    padding-right: 25px;
  }
  .document {
    border-top: 1px solid #E3E3E3;
    font-size: 14px;
  }
  .document:first-child {
    border-top: none;
  }
}

/* Search results hilight color */
.document-metadata > dd > em {
  background-color: #e2edfe;
}


/*item view */
#large-image-viewer {
  margin-top: 10px;
}
.openseadragon-container {
  background: #B7B7B7 !important;
  border: 1px solid #B7B7B7 !important;
}
.document .dl-invert dl {
  background: #ffffff;
  margin-top: 30px;
  padding:  20px;

  dt.blacklight-desc_metadata__description_ssm {
    display: none;
    color: #000000;
  }

  .blacklight-desc_metadata__modified_ssm {
    display: inline-block;

    dd {
      margin-left: .25em;
    }
  }

  dt, dd {
    border-top: 1px solid #e3e3e3;
    padding-bottom: .5em;
    padding-top: .5em;
  }
}


/* misc bits */

.form-actions {
  background: transparent;
  border-top: none;
}

.table-striped {
  background: #ffffff;
}

/* sidebar mini-menus */
.nav-list .nav-header {
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 8px;
  margin-top: 10px;
}

/* Bookmarks hiding per issue #1048 */
label.toggle_bookmark {
  display: none !important;
}

.nav-list > li > a, label.toggle_bookmark {
  font-size: 13px;
  line-height: 22px;
}

.nav-list > li {
  font-size: 13px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-group:first-child {
  padding-bottom: 20px;
}

#ingest-form-container .header {
  margin-left: 20px;
}


/*
 * jQuery Blueberry Slider v0.4 BETA
 * http://marktyrrell.com/labs/blueberry/
 *
 * Copyright (C) 2011, Mark Tyrrell <me@marktyrrell.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.blueberry { 
  margin: 0 auto; 


  /* the following min-height is a quick cosmetic fix to eliminate a bug before the whole thing is rebuilt with Bootstrap 3 */
  min-height: 800px;


  figure, ul {
    margin: 0;
  }

  figcaption {
    margin-top: .2rem;
  }

  .slides {
    display: block;
    position: relative;
    overflow: hidden;

    li {
      position: absolute;
      top: 0;
      left: 0;

      figure {
        width: 100%;
        max-width: none;
      }

      figcaption {
        position: absolute;
        background: white;
        background: rgba(245,245,245,0.85);
        padding: 10px 20px;
        opacity: 1;
        width: 90%;
        bottom: 0;
      }

      &.active { 
        display: block; 
        position: relative; 
      }
    }
  }

  .crop li figure { 
    width: auto; 
  }

  .pager {
    height: 40px;
    text-align: center;

    li { 
      display: inline-block; 

      a, a span {
        display: block;
        height: 10px;
        width: 10px;
      }

      a {
        padding: 18px 8px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 0;
        width: .30em;
        background-color: transparent;
      }

      a span {
        overflow: hidden;
        background: $linkColor;
        text-indent: -9999px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
      }

      &.active a span { 
        background: transparent;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px; 
        border: 1px solid #aaa;
        height: 8px;
        width: 8px;
      }
    }
  }
}
