$background: #F1ECE3;
$accent-bg: #F5DBB2;
$highlight-bg: #1FA1BF;

$color: #144651;
$textcolor: #666666;
$highlight-color: #ffffff;
$linkColor: #0f959a;//#1C88A4;
$linkColorHover: lighten($linkColor, 10%);

$font-stack: Gudea, Helvetica, Verdana, sans-serif;

body {
  font: 100% $font-stack;
  background-color: $background;
  color: $textcolor;
  padding-top: 0;
}

/* font */
h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: $color;
}

p {
  line-height: 20px;
}

//Oregon Digital header

.navbar {
  background-color: $accent-bg;
  min-height: 150px;
}

.header-top {
  background: #635c55;
  margin-bottom: 5px;
}

.header-top img {
  height: 30px;
  width: auto;
}

#header-navbar-fixed-top {

}

.vcenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 71px;
}

.brandhome {
  max-height: 60px;
}

.utils {
  display: block;
  width: 100%;

  font-size: 90%;
  border-left: 1px solid $textcolor;
  border-top: none;
  width: auto;
  padding: 2px 0 2px 20px;

  a {
    padding-bottom: 0;
    padding-top: 0;
  }

  .util-links-login, .util-links-other {
    font-size: inherit;

    .bookmarks, .saved-searches {
      display: inline-block;
    }
  }

  .util-links-login a, .util-links-auth .admin a {
    display: inline-block;
  }

  .util-links-auth .admin a.btn-sm {
    font-size: .75em;
    padding: .5em;
  }
}



a img {
  padding-bottom: 6px;
  padding-top: 6px;
  color: $color;
  display: block;
  line-height: 22px;
}

.sets #common-header h1 {
  max-width: 280px;
}

#searchbar {
  padding: 1rem 0;
  vertical-align: middle;

  input {
    width: 320px;
  }

  form {
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 0;
    line-height: 12px;

    .styled-select {
      display: none;
      #search_field {
        display: none;
      }
    }
  }
}


/* not sure what this is for but leaving for now */
@media (min-width: 400px) {
      form {
        /*margin-right: 0;*/
        /*width: 300px;*/
        .styled-select {

          width: 90px;
          height: 28px;
          overflow: hidden;
          background: url(image_path("oregondigital/selectarrow.png")) no-repeat right #fff;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-right: 5px;
          display: block;

          #search_field {

            width: 112px;
            height: 28px;
            background: transparent;
            -webkit-appearance: none;
            line-height: 1;
            border: 0;
            border-radius: 0;
            display: block;
          }

        }
      }
    }

/*
    .input-wrapper {
      width: 110px;

      input.search_q {
        width: 95px;
      }
    }
    @media (min-width: 481px) {
      .input-wrapper {
        width: auto;

        input.search_q {
          width: 195px;

        }
      }
    }
    @media (min-width: 768px) {
      .input-wrapper input.search_q {
        width: 220px;
      }
    }
  }

  .btn {
    vertical-align: middle;
  }
}
*/


/* main-container - and contents */

#main-container {
  margin-top: .2rem;
  margin-bottom: 50px;
}

.homelogo {
  max-height: 8rem;
}

/* facets */

#facets {
  background: #ffffff;
  color: $color;

  a {
    color: $color;
  }
  span.selected {
    color: #888888;
  }

  h4 {
    background: $accent-bg;
  }

  h5.twiddle-open {
    background: $highlight-bg;
    color: #ffffff;

    a {
      color: $highlight-color;
      outline: none;
    }

    a:hover {
      background: transparent;
    }
  }
  .facet_select, .count, span.selected {
    font-size: .85em;
  }
  ul {
    padding-bottom: 0;
  }
}

/* Sidenav */
ul.sidenav {
  list-style-type: none;
  padding: 8px 14px;
  border-radius: 0;
  margin-left: 0;
  background-color: white;

  li {
    list-style-image:none;
  }
}

/* footer */

.footer {
  font-size: .75em;
  line-height: 25px;

  .right {
    text-align: right;

    li.last {
      padding-right: 0;
    }
  }

  img {max-width: 150px;}

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    margin: none;
    padding: 0 12px;
    border-right: 1px solid $color;
  }

  li.first {
    padding-left: 0;
  }
  li.last {
    border: none
  }

  a {
    color: $color;
  }

}

/* home  */

.welcome, .imagecolumn {
  .collections-link {
    border-top: 1px solid $accent-bg;
    border-bottom: 1px solid $accent-bg;
    padding: 1em;
    background-color: white;
    text-align: center;
  }

  & > * {
    margin-bottom: 1em;
  }
}

.imagecolumn img {
  margin-bottom: 1px;
}

/* search results */

.results {
  background: #fff;
  border-top: 1px solid $accent-bg;

  .well, .constraints-container, #sortAndPerPage {
    border: none;
    box-shadow: none;
    background: none;

  }
  #appliedParams, #sortAndPerPage {
    border-radius: 0;
  }
  #appliedParams {
    background: #F5F5F5;
    border-bottom: 1px solid #E3E3E3;
  }
  #sortAndPerPage {
    padding: 5px 25px;

    .page_links, #per_page-dropdown, #sort-dropdown {
      margin-top: 10px;
    }

  }

  #documents {
    padding-left: 25px;
    padding-right: 25px;
  }
  .document {
    border-top: 1px solid #E3E3E3;
    font-size: 14px;
  }
  .document:first-child {
    border-top: none;
  }
}

/* Search results hilight color */
.document-metadata > dd > em {
  background-color: #e2edfe;
}

/*item view */
#large-image-viewer {
  margin-top: 10px;
}
.openseadragon-container {
  background: #B7B7B7 !important;
  border: 1px solid #B7B7B7 !important;
}
.document .dl-invert dl {
  background: #ffffff;
  margin-top: 30px;
  padding:  20px;

  dt.blacklight-desc_metadata__description_ssm {
    display: none;
    color: #000000;
  }

  .blacklight-desc_metadata__modified_ssm {
    display: inline-block;

    dd {
      margin-left: .25em;
    }
  }

  dt, dd {
    border-top: 1px solid #e3e3e3;
    padding-bottom: .5em;
    padding-top: .5em;
  }
}

/* misc bits */
.form-actions {
  background: transparent;
  border-top: none;
}

.table-striped {
  background: #ffffff;
}

/* sidebar mini-menus */
.nav-list .nav-header {
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 8px;
  margin-top: 10px;
}

.nav-list > li > a, label.toggle_bookmark {
  font-size: 13px;
  line-height: 22px;
}

.nav-list > li {
  font-size: 13px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-group:first-child {
  padding-bottom: 20px;
}

#ingest-form-container .header {
  margin-left: 20px;
}

@media (max-width: 979px) and (min-width: 768px) {
  .navbar .row {
    margin-left: 0px;
  }
}

@media (min-width: 980px) {
  body {
    padding-top: 10.5rem;
  }

  body.admin {
    padding-top: 10.5rem;
  }

  .navbar {
    padding-left: 0px;
  }

  .navbar.row {
    margin: 0 0;
  }

}

//smallest
@media (max-width: 767px) {

  .navbar-fixed-top {
    margin-right: 0px;
    margin-left: 0px;
  }

  .navbar {
    margin-right: 0px;
  }

  .row {
    margin: 0 .5rem;
  }

  .brandhome {
    max-height: 40px;
    float: left;
  }

  #searchbar input {
    width: 220px;
  }
}

/*
 * jQuery Blueberry Slider v0.4 BETA
 * http://marktyrrell.com/labs/blueberry/
 *
 * Copyright (C) 2011, Mark Tyrrell <me@marktyrrell.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.blueberry {
  margin: 0 auto;


  /* the following min-height is a quick cosmetic fix to eliminate a bug before the whole thing is rebuilt with Bootstrap 3 */
  min-height: 800px;


  figure, ul {
    margin: 0;
  }

  figcaption {
    margin-top: .2rem;
  }

  .slides {
    display: block;
    position: relative;
    overflow: hidden;

    li {
      position: absolute;
      top: 0;
      left: 0;

      figure {
        width: 100%;
        max-width: none;
      }

      figcaption {
        position: absolute;
        background: white;
        background: rgba(245,245,245,0.85);
        padding: 10px 20px;
        opacity: 1;
        width: 90%;
        bottom: 0;
      }

      &.active {
        display: block;
        position: relative;
      }
    }
  }

  .crop li figure {
    width: auto;
  }

  .pager {
    height: 40px;
    text-align: center;

    li {
      display: inline-block;

      a, a span {
        display: block;
        height: 10px;
        width: 10px;
      }

      a {
        padding: 18px 8px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 0;
        width: .30em;
        background-color: transparent;
      }

      a span {
        overflow: hidden;
        background: $linkColor;
        text-indent: -9999px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
      }

      &.active a span {
        background: transparent;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #aaa;
        height: 8px;
        width: 8px;
      }
    }
  }
}
